.game-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
  
  .option {
    background-color: #d9d990;
    border: 2px solid #929239;
    border-radius: 5px;
    color: #343414;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
  }
  
  .option:hover {
    cursor: pointer;
    background-color: #929239;
    color: #fff;
  }
  
  #score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  #reset {
    background-color: #696929;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 20px;
  }
  
  #reset:hover {
    cursor: pointer;
    background-color: #343414;
  }

  #question-image {
    width: 80%; 
    border: 15px solid #929239; /* Green border with 10px thickness */
    border-radius: 10px; /* Rounded corners for a more polished look */
    margin-bottom: 20px; /* Add some space between the image and the answer options */
  }