body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  /* font-weight: 100px; */
  background-color: #E0E0AF;
  overflow-x: hidden;
}

p {
  font-size: 18px;
}

hr {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px;
  border: 0.5px solid #696929;
}
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #929239;
  padding: 0 10%;
  padding-top: 30px;
  /* border-bottom: 1px solid #696929; */
  font-size: 16px;
}
  
nav h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

nav a {
  color: #929239;
  text-decoration: none; /* Set text decoration to none for the link */
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 10px;
}

nav li a {
  color: #696929;
  text-decoration: none;
}

.content {
  width: 80%;
  margin: 3% auto;
  margin-bottom: 0;
  color: #343414;
}

.highlight {
	color: #929239;
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 10px;
  color: #929239;
}

.tiny_text {
  color: #343414;
  /* padding-bottom: 15px; */
  font-size: 14px;
}

#map-container {
  position: relative;
  /* width: 80%; */
  width: 1024px;
  margin: auto;
  /* padding-top: 15px; */
  border: 15px solid #cece9a;
  border-radius: 20px;
}

#map { 
  position: relative;
  height: 560px; 
  margin: auto;
}

#info {
  /* position: absolute;
  bottom: 10px;
  left: 10px; */
  padding-top: 30px;
  width: 80%;
  margin: auto;
}

#info .info_tab_bar {
  display: flex;
  align-items: center;
  color: #696929;
}

#info_title {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-right: 8px;
}

.info_tabs {
  margin-left: auto;
  font-size: 22px;
}

.info_tabs ul {
  list-style: none;
  display: inline-block;
}

.info_tabs ul li {
  display: inline-block;
  margin-left: 50px;
}

.info_tabs ul li a {
  display: block;
  padding: 5px 10px;
  color: #696929;
  /* text-decoration: none; */
  border-radius: 5px;
}

.info_tabs ul li a:hover {
  background-color: #ebf0c9;
}

/* only change the font color of the active/selected tab when it is clicked or visited */
.info_tabs li a:active {
  color: #929239;
  text-decoration: underline;
}

/* change the color of the default/initially selected tab */
.info_tabs li.active_tab a {
  color: #929239;
  text-decoration: underline;
}

#info_detail {
  padding: 10px;
  font-size: 20px;
}

#bottom_bar {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

#bottom_bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

#bottom_bar li {
  flex: 1;
  font-size: 16px;
  text-align: center;
}

#bottom_bar li a {
  color: #696929;
  text-decoration: none;
  padding: 10px;
  display: block;
}

#bottom_bar li a:hover {
  background-color: #ebf0c9;
}

form {
  /* background-color: #FFFFCC; */
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

input[type="text"], textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #888888;
  width: 90%;
  margin-bottom: 20px;
  background-color: #ebf0c9;
}

footer {
  /* padding: 25px; */
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  /* height: 30px; */
}

address {
  font-style: normal;
  font-size: 18px;
  margin-bottom: 10px;
}

#form-button {
  background-color: #696929;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 6px 10px;
}

